@model MvcOtel.Models.TblRez

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Rezervasyon Yap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 p-t-85 p-b-20">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-70">
                            Yeni Rezervasyon
                        </span>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <h3>Otel</h3>
                            <div class="col-md-10">
                                @Html.DropDownList("OtelId", null, htmlAttributes: new { @class = "input-100" })
                                @Html.ValidationMessageFor(model => model.OtelId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3>Oda Türü</h3>
                            <div class="col-md-10">
                                @Html.DropDownList("OdaId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OdaId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezTarih, new { htmlAttributes = new { @class = "input100" , placeholder ="Bir Tarih Giriniz."} })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RezGün, new { htmlAttributes = new { @class = "input100" ,placeholder = "Gün Sayısı Giriniz" } })
                            </div>
                        </div>
                        <br />
                        <div class="container-login100-form-btn">
                            <input type="submit" value="Rezervasyon Yap" class="login100-form-btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>
</html>